Repository NeoSOFT-Technologies/node-rest: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix tenant-config-service lint, npm run --prefix tenant-master-service lint, npm run --prefix tenant-provisioning lint, npm run --prefix tenant-registration lint, npm run --prefix tenant-config-service format, npm run --prefix tenant-master-service format, npm run --prefix tenant-provisioning format, npm run --prefix tenant-registration format

.lintstagedrc:

{
  "./tenant-config-service/{src,apps,libs,test}/**/*.ts": ["npm run --prefix tenant-config-service lint"],
  "./tenant-master-service/{src,apps,libs,test}/**/*.ts": ["npm run --prefix tenant-master-service lint"],
  "./tenant-provisioning/{src,apps,libs,test}/**/*.ts": ["npm run --prefix tenant-provisioning lint"],
  "./tenant-registration/{src,apps,libs,test}/**/*.ts": ["npm run --prefix tenant-registration lint"],
  "./tenant-config-service/**/*.{ts,js,json,*rc}": ["npm run --prefix tenant-config-service format"],
  "./tenant-master-service/**/*.{ts,js,json,*rc}": ["npm run --prefix tenant-master-service format"],
  "./tenant-provisioning/**/*.{ts,js,json,*rc}": ["npm run --prefix tenant-provisioning format"],
  "./tenant-registration/**/*.{ts,js,json,*rc}": ["npm run --prefix tenant-registration format"]
}

test: corrected provision unit test
  tenant-provisioning/test/unit/tenantprovision.service.spec.ts
Due: npm run --prefix tenant-provisioning lint, npm run --prefix tenant-provisioning format

docs(documentation): modified api.md and auth.md
  wiki/docs/api.md
  wiki/docs/auth.md
  wiki/images/Token-Validation-Method-I.png
  wiki/images/Token-validation-Method-II.png
Due: none

Update auth.md
  wiki/docs/auth.md
Due: none

fix: removed bug to check dbname availability
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
  tenant-registration/src/tenant-reg/identifier/identifier.service.ts
  tenant-registration/src/tenant-reg/registertenant.controller.ts
  tenant-registration/test/unit/registertenant.controller.spec.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

Update package-lock.json
  package-lock.json
Due: none

feat(env): added staging.env
  multitenancy-rest-service/config/staging.env
  multitenancy-rest-service/package.json
  multitenancy-rest-service/src/app.module.ts
Due: none

refactor(testing): updated getTenantConfig and updateTenantConfig
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/dto/index.ts
  tenant-config-service/src/tenant-config/tenant.config.service.ts
  tenant-config-service/test/unit/tenant.config.controller.spec.ts
  tenant-config-service/test/unit/tenant.config.service.spec.ts
  wiki/docs/auth.md
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-config-service format

Update staging.env
  multitenancy-rest-service/config/staging.env
Due: none

docs(documentation): readme.md and docker-compose updated
  README.md
  docker-compose.yml
  multitenancy-rest-service/package.json
Due: none

Image added of remote desktop client
  README.md
Due: none

fix: removed unwanted code
  docker-compose.yml
  multitenancy-rest-service/package.json
Due: none

feat: exception handler
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/filter/http-exception.filter.ts
Due: none

fix: removed bug
  multitenancy-rest-service/src/app.controller.ts
Due: none

fix: removed bug in tenant update API
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  tenant-config-service/src/tenant-config/tenant.config.controller.ts
  tenant-config-service/src/tenant-config/tenant.config.service.ts
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-config-service format

refactor(testing): added tenant-config-service test cases
  tenant-config-service/src/tenant-config/tenant.config.service.ts
  tenant-config-service/test/unit/tenant.config.service.spec.ts
  wiki/docs/vm.md
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-config-service format

Update vm.md with images
  wiki/docs/vm.md
Due: none

fix: vaidation pipe
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/filter/http-exception.filter.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
Due: none

fix: updated tenant master
  tenant-master-service/src/tenant-master/config/database.ts
  tenant-master-service/src/tenant-master/config/index.ts
  tenant-master-service/src/tenant-master/tenant.master.module.ts
  tenant-master-service/src/tenant-master/tenant.master.service.ts
Due: npm run --prefix tenant-master-service lint, npm run --prefix tenant-master-service format

fix: fixed tenant master unit test
  tenant-master-service/test/unit/tenant.master.service.spec.ts
Due: npm run --prefix tenant-master-service lint, npm run --prefix tenant-master-service format

Add files via upload
  docker-compose.staging.yml
Due: none

Add files via upload
  multitenancy-rest-service/Dockerfile.staging
Due: none

Add files via upload
  tenant-config-service/Dockerfile
Due: none

Add files via upload
  tenant-master-service/Dockerfile
Due: none

Add files via upload
  tenant-provisioning/Dockerfile
Due: none

Add files via upload
  tenant-registration/Dockerfile
Due: none

Update and rename crypto.ts to bcrypt.ts
  tenant-registration/src/tenant-reg/utils/bcrypt.ts
  tenant-registration/src/tenant-reg/utils/crypto.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

Update registertenant.service.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

Delete decrypt.ts
  tenant-provisioning/src/tenant-provisioning/utils/decrypt.ts
Due: npm run --prefix tenant-provisioning lint, npm run --prefix tenant-provisioning format

Update tenantprovision.service.ts
  tenant-provisioning/src/tenant-provisioning/tenantprovision.service.ts
Due: npm run --prefix tenant-provisioning lint, npm run --prefix tenant-provisioning format

Add files via upload
  tenant-registration/src/tenant-reg/utils/crypto.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

Delete bcrypt.ts
  tenant-registration/src/tenant-reg/utils/bcrypt.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

Create git-branch.md
  wiki/docs/miscellaneous/git-branch.md
Due: none

Update crypto.ts
  tenant-registration/src/tenant-reg/utils/crypto.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

Rename crypto.ts to bcrypt.ts
  tenant-registration/src/tenant-reg/utils/bcrypt.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

feat: added env handling
  docker-compose.staging.yml
  multitenancy-rest-service/Dockerfile
  multitenancy-rest-service/Dockerfile.staging
  tenant-config-service/Dockerfile
  tenant-master-service/Dockerfile
  tenant-registration/Dockerfile
Due: none

chore: updated env handler
  docker-compose.staging.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.staging.yml
  multitenancy-rest-service/Dockerfile.staging
  multitenancy-rest-service/config/prod.env
  package.json
Due: none

fix: updated package.json
  package.json
Due: none

feat: added logger
  multitenancy-rest-service/config/.env
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/auth/auth.service.ts
  multitenancy-rest-service/src/auth/permission.decorator.ts
  multitenancy-rest-service/src/iam/keycloakRealm.ts
  multitenancy-rest-service/src/logger/index.ts
  multitenancy-rest-service/src/logger/logger.middleware.ts
  multitenancy-rest-service/src/main.ts
  multitenancy-rest-service/src/utils/enums/index.ts
  multitenancy-rest-service/src/utils/enums/permission.enums.ts
  multitenancy-rest-service/src/utils/enums/roles.enums.ts
  tenant-config-service/src/tenant-config/tenant.config.controller.ts
  tenant-config-service/src/tenant-config/tenant.config.service.ts
  tenant-master-service/src/tenant-master/config/database.ts
  tenant-master-service/src/tenant-master/tenant.master.module.ts
  tenant-master-service/src/tenant-master/tenant.master.service.ts
  tenant-provisioning/src/tenant-provisioning/connection.utils.ts
  tenant-provisioning/src/tenant-provisioning/tenantprovision.service.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-master-service lint, npm run --prefix tenant-provisioning lint, npm run --prefix tenant-registration lint, npm run --prefix tenant-config-service format, npm run --prefix tenant-master-service format, npm run --prefix tenant-provisioning format, npm run --prefix tenant-registration format
