Repository NeoSOFT-Technologies/node-rest: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix tenant-config-service lint, npm run --prefix tenant-master-service lint, npm run --prefix tenant-provisioning lint, npm run --prefix tenant-registration lint, npm run --prefix tenant-config-service format, npm run --prefix tenant-master-service format, npm run --prefix tenant-provisioning format, npm run --prefix tenant-registration format

.lintstagedrc:

{
  "./tenant-config-service/{src,apps,libs,test}/**/*.ts": ["npm run --prefix tenant-config-service lint"],
  "./tenant-master-service/{src,apps,libs,test}/**/*.ts": ["npm run --prefix tenant-master-service lint"],
  "./tenant-provisioning/{src,apps,libs,test}/**/*.ts": ["npm run --prefix tenant-provisioning lint"],
  "./tenant-registration/{src,apps,libs,test}/**/*.ts": ["npm run --prefix tenant-registration lint"],
  "./tenant-config-service/**/*.{ts,js,json,*rc}": ["npm run --prefix tenant-config-service format"],
  "./tenant-master-service/**/*.{ts,js,json,*rc}": ["npm run --prefix tenant-master-service format"],
  "./tenant-provisioning/**/*.{ts,js,json,*rc}": ["npm run --prefix tenant-provisioning format"],
  "./tenant-registration/**/*.{ts,js,json,*rc}": ["npm run --prefix tenant-registration format"]
}

docs: updated documentation
  wiki/docs/api.md
  wiki/docs/microservices/tenant-registration.md
  wiki/docs/multitenancy-rest-service.md
Due: none

feat: post & patch user api
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/auth/auth.service.ts
  multitenancy-rest-service/src/auth/guards/keycloak-auth.guard.ts
  multitenancy-rest-service/src/config/client.ts
  multitenancy-rest-service/src/config/index.ts
  multitenancy-rest-service/src/dto/client.dto.ts
  multitenancy-rest-service/src/dto/index.ts
  multitenancy-rest-service/src/dto/register.tenant.dto.ts
  multitenancy-rest-service/src/dto/user.details.dto.ts
  multitenancy-rest-service/src/dto/user.getinfo.dto.ts
  multitenancy-rest-service/src/dto/user.update.dto.ts
  multitenancy-rest-service/src/dto/users.query.dto.ts
  multitenancy-rest-service/src/iam/client.ts
  multitenancy-rest-service/src/iam/keycloakUser.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
  multitenancy-rest-service/test/unit/auth.service.spec.ts
  multitenancy-rest-service/test/unit/keycloak-auth.guard.spec.ts
  multitenancy-rest-service/test/unit/keycloak-user.spec.ts
  package-lock.json
Due: none

Update .env
  multitenancy-rest-service/config/.env
Due: none

feat: set up cors
  multitenancy-rest-service/src/main.ts
  multitenancy-rest-service/src/utils/cors.ts
Due: none

refactor: updated cors
  multitenancy-rest-service/src/utils/cors.ts
Due: none

refactor: changed get realm role access
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/iam/keycloakUser.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/keycloak-user.spec.ts
Due: none

refactor: docker compose keycloak password
  docker-compose.yml
Due: none

docs: updated documentation
  wiki/docs/api.md
  wiki/docs/multitenancy-rest-service.md
Due: none

feat(forgotPassword): added forgot password for user
  multitenancy-rest-service/config/.env
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/config/index.ts
  multitenancy-rest-service/src/config/keycloak.ts
  multitenancy-rest-service/src/config/mail.server.ts
  multitenancy-rest-service/src/dto/index.ts
  multitenancy-rest-service/src/iam/keycloakRealm.ts
  wiki/docs/multitenancy-rest-service.md
Due: none

feat: added roles API's
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/dto/create.role.dto.ts
  multitenancy-rest-service/src/dto/delete.permission.dto.ts
  multitenancy-rest-service/src/dto/delete.role.dto.ts
  multitenancy-rest-service/src/dto/delete.tenant.dto.ts
  multitenancy-rest-service/src/dto/getpermissions.dto.ts
  multitenancy-rest-service/src/dto/index.ts
  multitenancy-rest-service/src/dto/role.getinfo.dto.ts
  multitenancy-rest-service/src/dto/update.permission.dto.ts
  multitenancy-rest-service/src/dto/update.role.dto.ts
  multitenancy-rest-service/src/dto/users.query.dto.ts
  multitenancy-rest-service/src/iam/client.ts
  multitenancy-rest-service/src/iam/keycloakRealm.ts
  multitenancy-rest-service/src/iam/keycloakUser.ts
  multitenancy-rest-service/src/iam/permission.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
  multitenancy-rest-service/test/unit/keycloak-realm.spec.ts
  multitenancy-rest-service/test/unit/keycloak-user.spec.ts
  tenant-registration/src/tenant-reg/registertenant.controller.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
  wiki/docs/api.md
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

feat: get permission api
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/dto/getpermissions.dto.ts
  multitenancy-rest-service/src/dto/user.getinfo.dto.ts
  multitenancy-rest-service/src/iam/keycloakUser.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
  multitenancy-rest-service/test/unit/keycloak-user.spec.ts
  tenant-registration/src/tenant-reg/registertenant.controller.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
  tenant-registration/test/unit/registertenant.controller.spec.ts
  wiki/docs/api.md
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

feat: added admin details api
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/auth/auth.service.ts
  multitenancy-rest-service/src/dto/credentials.dto.ts
  multitenancy-rest-service/src/iam/keycloakRealm.ts
  multitenancy-rest-service/src/iam/keycloakUser.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
  multitenancy-rest-service/test/unit/keycloak-user.spec.ts
  wiki/docs/api.md
Due: none

refactor(deletion): added delete tenant from keycloak
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/iam/keycloakRealm.ts
  tenant-registration/src/tenant-reg/identifier/identifier.service.ts
  tenant-registration/src/tenant-reg/registertenant.controller.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

refactor(multi-tenancy-rest-service): post request modified and test cases refactored
  multitenancy-rest-service/src/dto/index.ts
  multitenancy-rest-service/src/dto/register.tenant.dto.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
  tenant-registration/src/tenant-reg/dto/register.tenant.dto.ts
  tenant-registration/src/tenant-reg/entity/tenant.entity.ts
  tenant-registration/src/tenant-reg/identifier/identifier.service.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

refactor(post_request): post_request modified
  tenant-config-service/src/tenant-config/dto/tenant.config.dto.ts
  tenant-config-service/src/tenant-config/entities/tenant.entity.ts
  tenant-master-service/src/tenant-master/dto/tenant.details.dto.ts
  tenant-master-service/src/tenant-master/tenant.master.service.ts
  tenant-provisioning/src/tenant-provisioning/dto/provision.tenant.dto.ts
  tenant-provisioning/src/tenant-provisioning/tenantprovision.service.ts
  tenant-registration/src/tenant-reg/dto/tenant.details.dto.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-master-service lint, npm run --prefix tenant-provisioning lint, npm run --prefix tenant-registration lint, npm run --prefix tenant-config-service format, npm run --prefix tenant-master-service format, npm run --prefix tenant-provisioning format, npm run --prefix tenant-registration format

refactor: changed admindetails response
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/iam/keycloakRealm.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
Due: none

refactor(getTenantList): modified getTenantList and postTenant test cases
  tenant-registration/src/tenant-reg/registertenant.service.ts
  tenant-registration/test/unit/registertenant.controller.spec.ts
  tenant-registration/test/unit/registertenant.service.spec.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

refactor(tenantByName): modified getTenantById to getTenantByName
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  tenant-config-service/src/tenant-config/tenant.config.controller.ts
  tenant-config-service/src/tenant-config/tenant.config.service.ts
  tenant-config-service/test/unit/tenant.config.controller.spec.ts
  tenant-config-service/test/unit/tenant.config.service.spec.ts
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-config-service format

feat: added token validation with public key
  multitenancy-rest-service/config/.env
  multitenancy-rest-service/package.json
  multitenancy-rest-service/src/auth/auth.service.ts
  multitenancy-rest-service/src/auth/guards/keycloak-auth.guard.ts
  multitenancy-rest-service/src/config/keycloak.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/auth.service.spec.ts
  multitenancy-rest-service/test/unit/keycloak-auth.guard.spec.ts
Due: none

feat: improved POST policy API
  multitenancy-rest-service/src/dto/policy.dto.ts
  multitenancy-rest-service/src/iam/policy.ts
  multitenancy-rest-service/test/unit/policy.spec.ts
Due: none

refactor(update_config): bugs fixed in the tenant API
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
  tenant-config-service/src/tenant-config/tenant.config.controller.ts
  tenant-config-service/src/tenant-config/tenant.config.service.ts
  tenant-master-service/src/tenant-master/tenant.master.service.ts
  tenant-provisioning/src/tenant-provisioning/scripts/create-database.sql
  tenant-registration/src/tenant-reg/registertenant.controller.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-master-service lint, npm run --prefix tenant-registration lint, npm run --prefix tenant-config-service format, npm run --prefix tenant-master-service format, npm run --prefix tenant-registration format

feat: inmemory cache to store public key for token validation
  multitenancy-rest-service/package.json
  multitenancy-rest-service/src/app.module.ts
  multitenancy-rest-service/src/auth/auth.service.ts
  multitenancy-rest-service/src/auth/cache.publicKey.ts
  multitenancy-rest-service/src/auth/guards/keycloak-auth.guard.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/auth.service.spec.ts
  multitenancy-rest-service/test/unit/cache.publicKey.spec.ts
  multitenancy-rest-service/test/unit/keycloak-auth.guard.spec.ts
Due: none

feat: added permission decorator
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/auth/auth.service.ts
  multitenancy-rest-service/src/auth/guards/keycloak-auth.guard.ts
  multitenancy-rest-service/src/auth/permission.decorator.ts
  multitenancy-rest-service/src/iam/keycloakUser.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/auth.service.spec.ts
  multitenancy-rest-service/test/unit/keycloak-auth.guard.spec.ts
  multitenancy-rest-service/test/unit/keycloak-user.spec.ts
Due: none

Create utils
  tenant-registration/src/tenant-reg/utils
Due: none

Delete utils
  tenant-registration/src/tenant-reg/utils
Due: none

Create bcrypt.ts
  tenant-registration/src/tenant-reg/utils/bcrypt.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

Add files via upload
  tenant-registration/src/tenant-reg/utils/bcrypt.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

Add files via upload
  tenant-registration/src/tenant-reg/registertenant.service.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

refactor: password encryption
  tenant-registration/package.json
  tenant-registration/src/tenant-reg/registertenant.service.ts
  tenant-registration/src/tenant-reg/utils/bcrypt.ts
  tenant-registration/test/unit/registertenant.service.spec.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

refactor: remover permission check from few API
  multitenancy-rest-service/src/app.controller.ts
Due: none

Create decrypt.ts
  tenant-provisioning/src/tenant-provisioning/utils/decrypt.ts
Due: npm run --prefix tenant-provisioning lint, npm run --prefix tenant-provisioning format

Add files via upload
  tenant-provisioning/src/tenant-provisioning/utils/decrypt.ts
Due: npm run --prefix tenant-provisioning lint, npm run --prefix tenant-provisioning format

Add files via upload
  tenant-provisioning/src/tenant-provisioning/tenantprovision.service.ts
Due: npm run --prefix tenant-provisioning lint, npm run --prefix tenant-provisioning format

Add files via upload
  tenant-registration/src/tenant-reg/utils/crypto.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

Delete bcrypt.ts
  tenant-registration/src/tenant-reg/utils/bcrypt.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

refactor: provision password
  tenant-registration/src/tenant-reg/registertenant.service.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

refactor(attributes): added user attributes
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/dto/client.dto.ts
  multitenancy-rest-service/src/dto/user.details.dto.ts
  multitenancy-rest-service/src/iam/client.ts
  multitenancy-rest-service/src/iam/keycloakUser.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
  multitenancy-rest-service/test/unit/keycloak-user.spec.ts
Due: none

test: refactored the update unit test
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  tenant-registration/src/tenant-reg/registertenant.controller.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
  tenant-registration/test/unit/registertenant.service.spec.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

refactor(testing): modified tenant-provision test cases
  tenant-provisioning/test/unit/tenantprovision.controller.spec.ts
  tenant-provisioning/test/unit/tenantprovision.service.spec.ts
Due: npm run --prefix tenant-provisioning lint, npm run --prefix tenant-provisioning format
