Repository NeoSOFT-Technologies/node-rest: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix tenant-config-service lint, npm run --prefix tenant-master-service lint, npm run --prefix tenant-provisioning lint, npm run --prefix tenant-registration lint, npm run --prefix tenant-config-service format, npm run --prefix tenant-master-service format, npm run --prefix tenant-provisioning format, npm run --prefix tenant-registration format

feat: added CRUD for tenant
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/dto/delete.tenant.dto.ts
  multitenancy-rest-service/src/dto/update.tenant.dto .ts
  tenant-registration/src/tenant-reg/entity/tenant.entity.ts
  tenant-registration/src/tenant-reg/registertenant.controller.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

refactor: added policy column in tenant-config
  tenant-config-service/src/tenant-config/entities/tenant.entity.ts
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-config-service format

Update package-lock.json
  package-lock.json
Due: none

fix(CI): fixed the ci config
  .github/codeql/codeql-configuration.yml
  package.json
Due: none

fix(CI): fixed the ci config
  sonar-project.properties
Due: none

fix(test): fix the e2e test config
  multitenancy-rest-service/package.json
  multitenancy-rest-service/test/jest-e2e.json
  tenant-config-service/package.json
  tenant-config-service/test/jest-e2e.json
  tenant-master-service/package.json
  tenant-master-service/test/jest-e2e.json
  tenant-provisioning/package.json
  tenant-registration/package.json
Due: npm run --prefix tenant-config-service format, npm run --prefix tenant-master-service format, npm run --prefix tenant-provisioning format, npm run --prefix tenant-registration format

test: added rest service unit tests
  multitenancy-rest-service/package.json
  multitenancy-rest-service/test/app.e2e-spec.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
  multitenancy-rest-service/tsconfig-paths-bootstrap.js
  multitenancy-rest-service/tsconfig.json
  package.json
Due: none

fix(ci): fixed the test cases report
  sonar-project.properties
  tenant-config-service/test/e2e/app.e2e-spec.ts
  tenant-master-service/test/e2e/app.e2e-spec.ts
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-master-service lint, npm run --prefix tenant-config-service format, npm run --prefix tenant-master-service format

feat: added tenant database connection option
  multitenancy-rest-service/package.json
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/connection.utils.ts
  multitenancy-rest-service/src/dto/db.details.dto.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
  tenant-config-service/test/e2e/app.e2e-spec.ts
  tenant-master-service/src/tenant-master/dto/tenant.details.dto.ts
  tenant-master-service/src/tenant-master/tenant.master.service.ts
  tenant-master-service/test/e2e/app.e2e-spec.ts
  tenant-master-service/test/unit/tenant.master.controller.spec.ts
  tenant-master-service/test/unit/tenant.master.service.spec.ts
  tenant-provisioning/src/tenant-provisioning/dto/provision.tenant.dto.ts
  tenant-provisioning/src/tenant-provisioning/scripts/create-database.sql
  tenant-provisioning/src/tenant-provisioning/tenantprovision.controller.ts
  tenant-provisioning/src/tenant-provisioning/tenantprovision.service.ts
  tenant-provisioning/test/unit/tenantprovision.controller.spec.ts
  tenant-provisioning/test/unit/tenantprovision.service.spec.ts
  tenant-registration/src/tenant-reg/dto/tenant.details.dto.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
  tenant-registration/test/unit/registertenant.controller.spec.ts
  tenant-registration/test/unit/registertenant.service.spec.ts
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-master-service lint, npm run --prefix tenant-provisioning lint, npm run --prefix tenant-registration lint, npm run --prefix tenant-config-service format, npm run --prefix tenant-master-service format, npm run --prefix tenant-provisioning format, npm run --prefix tenant-registration format

docs: updated documentation
  README.md
  tenant-provisioning/config/.env
  tenant-provisioning/src/tenant-provisioning/config/index.ts
  tenant-provisioning/src/tenant-provisioning/config/tenantdb.ts
  tenant-provisioning/src/tenant-provisioning/connection.utils.ts
  wiki/docs/contribution.md
  wiki/docs/microservices/tenant-master-service.md
  wiki/docs/microservices/tenant-provisioning.md
  wiki/docs/microservices/tenant-registration.md
  wiki/docs/multitenancy-rest-service.md
Due: npm run --prefix tenant-provisioning lint, npm run --prefix tenant-provisioning format

docs(documentation): updated readme
  multitenancy-rest-service/README.md
Due: none

docs(documentation): updated readme of services
  README.md
  tenant-config-service/README.md
  tenant-master-service/README.md
  tenant-provisioning/README.md
  tenant-registration/README.md
Due: none

chore: updated swagger ui
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/dto/update.tenant.dto .ts
Due: none

fix(validation): tenant id validation in config service
  multitenancy-rest-service/src/app.controller.ts
  tenant-config-service/src/tenant-config/tenant.config.controller.ts
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-config-service format

refactor(validation): refactor in tenant id validation in config service
  tenant-config-service/src/tenant-config/tenant.config.controller.ts
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-config-service format

refactor(createtable): added creation of table in tenant-database
  multitenancy-rest-service/config/.env
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.module.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/connection.utils.ts
  multitenancy-rest-service/src/dto/column.dto.ts
  multitenancy-rest-service/src/dto/db.details.dto.ts
  multitenancy-rest-service/src/dto/provision.tenant.table.dto.ts
  tenant-provisioning/config/.env
Due: none

feat: added keycloak iam adapter
  multitenancy-rest-service/config/.env
  multitenancy-rest-service/package.json
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.module.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/dto/register.tenant.dto.ts
  multitenancy-rest-service/src/dto/tenant.user.dto.ts
  multitenancy-rest-service/src/iam/keycloak.ts
  tenant-registration/src/tenant-reg/dto/register.tenant.dto.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

feat: added admin user
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/dto/tenant.user.dto.ts
  multitenancy-rest-service/src/iam/keycloak.ts
Due: none

refactor(dockerization): added docker image for keycloak
  docker-compose.yml
  multitenancy-rest-service/config/.env
  multitenancy-rest-service/test/unit/app.controller.spec.ts
Due: none

refactor: admin user and realm interface
  multitenancy-rest-service/src/dto/realm.dto.ts
  multitenancy-rest-service/src/dto/tenant.adminuser.dto.ts
  multitenancy-rest-service/src/iam/keycloak.ts
Due: none

test(unittest): added test cases for multitenancy rest service
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
Due: none

test: added keycloak unit tests
  multitenancy-rest-service/src/iam/keycloak.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
  multitenancy-rest-service/test/unit/keycloak.spec.ts
Due: none

Updated Readme.md
  README.md
Due: none

Added swagger screen image
  wiki/docs/multitenancy-rest-service.md
Due: none

Image of swagger added
  wiki/docs/multitenancy-rest-service.md
Due: none

Updated documentation regarding API
  wiki/docs/multitenancy-rest-service.md
Due: none

Added API Documentation of delete and getbyId
  wiki/docs/multitenancy-rest-service.md
Due: none

Update multitenancy-rest-service.md
  wiki/docs/multitenancy-rest-service.md
Due: none

feat: keycloak login api;
  multitenancy-rest-service/package.json
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.module.ts
  multitenancy-rest-service/src/auth/auth.service.ts
  multitenancy-rest-service/src/auth/guards/keycloak-auth.guard.ts
  multitenancy-rest-service/src/auth/roles.decorator.ts
Due: none

docs(documentation): adding keycloak documentation
  wiki/docs/keycloak.md
Due: none

docs: added API list documentation
  wiki/docs/api.md
Due: none

Update Keycloak documentation
  wiki/docs/keycloak.md
Due: none

docs(documentation): updated api.md
  wiki/docs/api.md
Due: none

docs: added api documentation
  wiki/docs/api.md
Due: none

docs(documentation): update api.md
  wiki/docs/api.md
Due: none

docs: updated api.md
  wiki/docs/api.md
Due: none

docs(documentation): updated api.md with user info
  wiki/docs/api.md
Due: none

docs(documentation): updated api.md with some changes
  wiki/docs/api.md
Due: none

Path conditions:
  npm run --prefix tenant-config-service lint: any of: ./tenant-config-service/{src,apps,libs,test}/**/*.ts
  npm run --prefix tenant-master-service lint: any of: ./tenant-master-service/{src,apps,libs,test}/**/*.ts
  npm run --prefix tenant-provisioning lint: any of: ./tenant-provisioning/{src,apps,libs,test}/**/*.ts
  npm run --prefix tenant-registration lint: any of: ./tenant-registration/{src,apps,libs,test}/**/*.ts
  npm run --prefix tenant-config-service format: any of: ./tenant-config-service/**/*.{ts,js,json,*rc}
  npm run --prefix tenant-master-service format: any of: ./tenant-master-service/**/*.{ts,js,json,*rc}
  npm run --prefix tenant-provisioning format: any of: ./tenant-provisioning/**/*.{ts,js,json,*rc}
  npm run --prefix tenant-registration format: any of: ./tenant-registration/**/*.{ts,js,json,*rc}
