Repository NeoSOFT-Technologies/node-rest: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix tenant-config-service lint, npm run --prefix tenant-master-service lint, npm run --prefix tenant-provisioning lint, npm run --prefix tenant-registration lint, npm run --prefix tenant-config-service format, npm run --prefix tenant-master-service format, npm run --prefix tenant-provisioning format, npm run --prefix tenant-registration format

.lintstagedrc:

{
  "./tenant-config-service/{src,apps,libs,test}/**/*.ts": ["npm run --prefix tenant-config-service lint"],
  "./tenant-master-service/{src,apps,libs,test}/**/*.ts": ["npm run --prefix tenant-master-service lint"],
  "./tenant-provisioning/{src,apps,libs,test}/**/*.ts": ["npm run --prefix tenant-provisioning lint"],
  "./tenant-registration/{src,apps,libs,test}/**/*.ts": ["npm run --prefix tenant-registration lint"],
  "./tenant-config-service/**/*.{ts,js,json,*rc}": ["npm run --prefix tenant-config-service format"],
  "./tenant-master-service/**/*.{ts,js,json,*rc}": ["npm run --prefix tenant-master-service format"],
  "./tenant-provisioning/**/*.{ts,js,json,*rc}": ["npm run --prefix tenant-provisioning format"],
  "./tenant-registration/**/*.{ts,js,json,*rc}": ["npm run --prefix tenant-registration format"]
}

refactor: fixed code smells
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/auth/auth.service.ts
  multitenancy-rest-service/src/auth/cache.publicKey.ts
  multitenancy-rest-service/src/dto/register.tenant.dto.ts
  multitenancy-rest-service/src/dto/scope.representation.dto.ts
  multitenancy-rest-service/src/dto/tenant.adminuser.dto.ts
  multitenancy-rest-service/src/iam/keycloakRealm.ts
  multitenancy-rest-service/src/iam/keycloakUser.ts
  multitenancy-rest-service/src/utils/connection.utils.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
  multitenancy-rest-service/test/unit/auth.service.spec.ts
  multitenancy-rest-service/test/unit/client.spec.ts
  multitenancy-rest-service/test/unit/keycloak-user.spec.ts
  tenant-provisioning/src/tenant-provisioning/tenantprovision.controller.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
Due: npm run --prefix tenant-provisioning lint, npm run --prefix tenant-registration lint, npm run --prefix tenant-provisioning format, npm run --prefix tenant-registration format

fix: code smells & security hotspot
  multitenancy-rest-service/src/iam/keycloakUser.ts
  multitenancy-rest-service/test/unit/keycloak-user.spec.ts
  tenant-registration/src/tenant-reg/registertenant.service.ts
Due: npm run --prefix tenant-registration lint, npm run --prefix tenant-registration format

fix: removed security hotspots
  multitenancy-rest-service/src/config/keycloak.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/app.service.spec.ts
  multitenancy-rest-service/test/unit/auth.service.spec.ts
  multitenancy-rest-service/test/unit/keycloak-user.spec.ts
  tenant-master-service/test/unit/tenant.master.controller.spec.ts
  tenant-master-service/test/unit/tenant.master.service.spec.ts
  tenant-provisioning/test/unit/tenantprovision.controller.spec.ts
  tenant-provisioning/test/unit/tenantprovision.service.spec.ts
  tenant-registration/test/unit/registertenant.controller.spec.ts
  tenant-registration/test/unit/registertenant.service.spec.ts
Due: npm run --prefix tenant-master-service lint, npm run --prefix tenant-provisioning lint, npm run --prefix tenant-registration lint, npm run --prefix tenant-master-service format, npm run --prefix tenant-provisioning format, npm run --prefix tenant-registration format

fix: removed server side redirection
  multitenancy-rest-service/config/.env
  multitenancy-rest-service/src/app.controller.ts
  multitenancy-rest-service/src/app.service.ts
  multitenancy-rest-service/src/config/keycloak.ts
Due: none

fix: added test cases
  tenant-config-service/test/unit/app.controller.spec.ts
  tenant-master-service/test/unit/app.controller.spec.ts
  tenant-provisioning/test/unit/app.controller.spec.ts
  tenant-registration/test/unit/app.controller.spec.ts
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-master-service lint, npm run --prefix tenant-provisioning lint, npm run --prefix tenant-registration lint, npm run --prefix tenant-config-service format, npm run --prefix tenant-master-service format, npm run --prefix tenant-provisioning format, npm run --prefix tenant-registration format

fix: increase test code coverage
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  tenant-config-service/test/unit/app.controller.spec.ts
  tenant-master-service/test/unit/app.controller.spec.ts
  tenant-master-service/test/unit/tenant.master.controller.spec.ts
  tenant-provisioning/test/unit/app.controller.spec.ts
  tenant-provisioning/test/unit/tenantprovision.controller.spec.ts
  tenant-registration/test/unit/app.controller.spec.ts
Due: npm run --prefix tenant-config-service lint, npm run --prefix tenant-master-service lint, npm run --prefix tenant-provisioning lint, npm run --prefix tenant-registration lint, npm run --prefix tenant-config-service format, npm run --prefix tenant-master-service format, npm run --prefix tenant-provisioning format, npm run --prefix tenant-registration format

fix: covered untested files
  multitenancy-rest-service/src/iam/keycloakUser.ts
  multitenancy-rest-service/test/unit/app.controller.spec.ts
  multitenancy-rest-service/test/unit/auth.service.spec.ts
  multitenancy-rest-service/test/unit/permission.spec.ts
Due: none

commit on main
  multitenancy-rest-service/src/iam/keycloakUser.ts
Due: none
